<!DOCTYPE html>

head
    meta(charset="ISO-8859-1")
    title rebuild
    link(href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Poiret+One|Raleway" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="css/index.css" rel="stylesheet" type="text/css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")


body
    div(id="startcontainer")
        h2 Rebuild the path on the right. Use the arrow keys to move.</h2>
        a(href="levels/level1.html")
            div(class="button" id="start")
                p Start Game
